<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		
		<link rel="stylesheet" type="text/css" href="../public/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/home.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/loyout.css"/>
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_ikcd8itchaor.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/gnzk.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/sqk.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/bcj.css"/>
	</head>
	<body>
		<div class="layout">
			<div class="home-header">
				<div class="wrap clear">
					<div class="left"><i class="icon iconfont icon-houtui"></i></div>
					<span>白菜价-淘宝内部券</span>
				</div>
			</div>
			<div class="list">
				<div class="sub-nav">
					<div class="wrap clear" id="bcj-box1">
						
						
					</div>
				</div>
				
				<div class="wrap">
					<div class="items" id="bcj-box2">
						
						<div class="item clear">
							<div class="item-left">
								<img src="../../public/img/haitao.png"/>
							</div>
							<div class="item-right">
								<p>乐事TVS50 Air全配版2D 50隐村全高清LED液晶电视</p>
								<span>券后￥1999.00</span><span>￥206</span>
								<div class="progress">
									<div class="in"><i>10%</i></div>
									<div class="tip">已领22222张</div>
								</div>
								<div class="add clear">
									<div class="col-1"><a href="#">点此领10元优惠券</a></div>
									<div class="col-2"><a href="#">下单链接</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="footer">
				<div class="wrap">
					<ul>
						<li><a href="#">用户中心</a></li>
						<li><a href="#">商家中心</a></li>
						<li><a href="#"><i class="icon iconfont icon-fanhuidingbu"></i>返回顶部</a></li>
					</ul>
					<p><span>手机APP下载</span>蜜思购手机版--掌上比价平台</p>
					<p><em>www.misigou.com</em></p>
				</div>
			</div>
		</div>
	</body>
	<script type="text/html" id="tmp">
		{{ each result as value index }}
			<a href="#" data-title-id={{ #value.titleId }}><i class="icur" data-title-id={{ #value.titleId }}>{{ #value.title }}</i></a>
		{{ /each }}
	</script>
	<script type="text/html" id="tmp1">
		{{ each result as value index }}
		<div class="item clear">
			<div class="item-left">
				{{ #value.productImg }}
			</div>
			<div class="item-right">
				<p>{{ #value.productName }}</p>
				<span>{{ #value.productPrice }}</span>
				<!--<div class="progress">
					
				</div>-->
				{{ #value.productCouponRemain }}
				<div class="add clear">
					<div class="col-1">{{ #value.productCoupon }}</div>
					<div class="col-2">{{ #value.productHref }}</div>
				</div>
			</div>
		</div>
		{{ /each }}
	</script>
	<script src="../public/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="../public/js/template.js" type="text/javascript" charset="utf-8"></script>
	<script src="../public/js/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="../public/js/getData.js" type="text/javascript" charset="utf-8"></script>
	<script src="../public/js/tool.js" type="text/javascript" charset="utf-8"></script>
	<script src="../public/js/bcj.js" type="text/javascript" charset="utf-8"></script>
</html>
