<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<title></title>
		<link rel="stylesheet" type="text/css" href="../public/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/home.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/loyout.css"/>
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_quidp3cx2clkgldi.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/bijia.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/home.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/loyout.css"/>
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_ikcd8itchaor.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/gnzk.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/sqk.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/sum.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/namepalte.css"/>
		
	</head>
	<body>
		<div class="layout">
			<div class="home-header">
				<div class="wrap clear">
					<div class="left"><i class="icon iconfont icon-houtui"></i></div>
					<span>全部分类</span>
				</div>
			</div>
			
			<div class="serach">
				<form action="" method="post">
					<input type="text" name="" id="" value="" placeholder="请输入你想比价的商品"/>
					<input type="button" value="搜索"/>
				</form>
			</div>
			<div class="bj-content nameplate">
				<div class="wrap" id="name-box">
					<div class="item">
						<h2>平板电视十大品牌<i class="icon iconfont  icon-xiangxiajiantou"></i></h2>
						<!--style="display: none;"-->
						<div class="item-box">
							<ul class="clear" >
								<li><a href="#">电视</a></li>
								<li><a href="#">空调</a></li>
								<li><a href="#">冰箱</a></li>
								<li><a href="#">热水器</a></li>
							</ul>
						</div>
					</div>
					<div class="item">
						<h2>电子产品</h2>
						<div class="item-box">
							<ul>
								<li><a href="#">电视</a></li>
								<li><a href="#">空调</a></li>
								<li><a href="#">冰箱</a></li>
								<li><a href="#">热水器</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--公用头部-->
			<div class="footer">
				<div class="wrap">
					<ul>
						<li><a href="#">用户中心</a></li>
						<li><a href="#">商家中心</a></li>
						<li><a href="#"><i class="icon iconfont icon-fanhuidingbu"></i>返回顶部</a></li>
					</ul>
					<p><span>手机APP下载</span>蜜思购手机版--掌上比价平台</p>
					<p><em>www.misigou.com</em></p>
				</div>
			</div>
		
		
		</div>
	</body>
	<script type="text/html" id="tmp1">
		{{ each result as value index }}
			<div class="item">
				<h2 data-brandTitle-id={{ #value.brandTitleId }}>{{ #value.brandTitle }}<i class="icon iconfont  icon-xiangxiajiantou"></i></h2>
				<!--style="display: none;"-->
				<div class="item-box">
					<ul class="clear list">
						
					</ul>
				</div>
			</div>
		{{ /each }}
	</script>
	<script src="../public/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="../public/js/template.js" type="text/javascript" charset="utf-8"></script>
	<script src="../public/js/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="../public/js/getData.js" type="text/javascript" charset="utf-8"></script>
	<script src="../public/js/tool.js" type="text/javascript" charset="utf-8"></script>
	<script src="../public/js/nameplate.js" type="text/javascript" charset="utf-8"></script>
</html>
