.bj-content .wrap .item {
  background-color: #fff;
}
.bj-content .wrap .item h2 {
  height: 2rem;
  font-size: 0.8rem;
  line-height: 2rem;
  padding-right: 1rem;
  background-color: #fff;
  color: black;
  padding-left: 1rem;
  border-bottom: 1px dotted #CCCCCC;
}
.bj-content .wrap .item h2 .icon::before {
  float: right;
  font-size: 1rem;
}
.bj-content .wrap .item .item-box {
  font-size: 0.7rem;
  background-color: #f5f5f5;
}
.bj-content .wrap .item .item-box ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}
.bj-content .wrap .item .item-box ul li {
  width: 33.33%;
  height: 1.9rem;
  line-height: 1.9rem;
}
.bj-content .wrap .item .item-box ul li a {
  display: block;
  height: 100%;
  width: 100%;
}
