

 
 
 
 
.bj-content{
    .wrap{
        .item{
            background-color: #fff;
            h2{
               height: 2rem; 
               font-size: 16/20rem;
               line-height: 2rem;
               padding-right: 1rem;
               background-color: #fff;
               color: black;
               padding-left: 20/20rem;
               border-bottom: 1px dotted #CCCCCC;
               .icon{
                    
                    &::before{
                        float: right;
                        font-size:20/20rem;
                    }
               }
            }
            .item-box{
                font-size: 14/20rem;
                background-color: #f5f5f5;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    text-align: center;
                    li{
                        width: 33.33%;
                        height: 1.9rem;
                        line-height: 1.9rem;
                        a{
                            display: block;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
