
.discount-content{
    .wrap{
        padding: 10/20rem;
        .box{
            ul{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    float: left;
                    width: 95/20rem;
                    border: 1px solid #CCCCCC;
                    margin-bottom: 10/20rem;
                   display: table-cell;
                   vertical-align: middle;
                   text-align: center;
                    img{
                        width: 80%;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    
    
}

.discount{
    .wrap{
        .items{
            .item{
                .item-right{
                    p:nth-of-type(2){
                        color: #EE7002;
                    }
                }
            }
        }
    }
}



.food-tip{
    background-color: #fff;
    height: 30/20rem;
    line-height: 30/20rem;
    p{
        font-size: 12/20rem;
        color: #CCCCCC;
        text-align: center;
    }
}


.discount-layout{
    position: relative;
    .layer{
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        .mark{
            position: absolute;
            display: flex;
            justify-content: space-between;
            left:10/20rem;
            right:10/20rem;
            padding-top: 50%;
            margin: auto;
            .mark-left{
                background-color: rgba(255,255,255,0.5);
                width: 50/20rem;
                height: 50/20rem;
                 align-self :center;
                i{
                  font-size: 40/20rem;  
                }
               
            }
            .mark-right{
                background-color: rgba(255,255,255,0.5);
                width: 50/20rem;
                height: 50/20rem;
                 align-self :center;
                i{
                     font-size: 40/20rem;  
                }
            }
            .mark-center{
               width: 150/20rem;
              // height: 150/20rem;
               align-self :center;
               overflow: hidden;
               ul{
                   width: 10000%;
                   li{
                      width: 1%;
                      float: left;
                       a{
                           display: block;
                            width: 100%;
                           img{
                                width: 100% ;
                           }
                       }
                   }
               }
            }
        }
    }
}
