.discount-content .wrap {
  padding: 0.5rem;
}
.discount-content .wrap .box ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.discount-content .wrap .box ul li {
  float: left;
  width: 4.75rem;
  border: 1px solid #CCCCCC;
  margin-bottom: 0.5rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.discount-content .wrap .box ul li img {
  width: 80%;
  vertical-align: middle;
}
.discount .wrap .items .item .item-right p:nth-of-type(2) {
  color: #EE7002;
}
.food-tip {
  background-color: #fff;
  height: 1.5rem;
  line-height: 1.5rem;
}
.food-tip p {
  font-size: 0.6rem;
  color: #CCCCCC;
  text-align: center;
}
