.layout {
  width: 100%;
  max-width: 32rem;
  min-width: 16rem;
  margin: 0 auto;
}
/*公用样式表*/
.footer .wrap {
  font-size: 0.6rem;
  text-align: center;
}
.footer .wrap ul {
  display: flex;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}
.footer .wrap ul li {
  width: 33.33%;
  height: 1.5rem;
  line-height: 1.5rem;
}
.footer .wrap ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.footer .wrap ul li a:nth-child(1) {
  border-right: 1px solid #CCCCCC;
}
.footer .wrap ul li a:nth-child(2) {
  border-right: 1px solid #CCCCCC;
}
.footer .wrap p {
  height: 1.5rem;
}
.footer .wrap p:nth-child(1) {
  line-height: 1.5rem;
}
.footer .wrap p:nth-child(2) {
  line-height: 2.5rem;
}
/*列表项*/
h2 {
  height: 2rem;
  background-color: #EDEDED;
  font-size: 0.7rem;
  line-height: 2rem;
}
.items .item {
  border-bottom: 1px solid #CCCCCC;
}
.items .item .item-left {
  float: left;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  padding-top: 0.5rem;
}
.items .item .item-left img {
  height: 4rem;
  width: 4rem;
}
.items .item .item-right {
  overflow: hidden;
  font-size: 0.6rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
}
/*内容项*/
.content .wrap {
  font-size: 0.7rem;
}
.content .wrap div {
  text-align: center;
}
.content .wrap div h3 {
  text-align: center;
}
.box {
  font-size: 0.7rem;
}
.box .sub-nav {
  display: flex;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
.box .sub-nav a {
  flex: 1;
  height: 1.75rem;
  line-height: 1.75rem;
}
.box .sub-nav a:nth-child(1) {
  border-right: 1px solid #CCCCCC ;
}
.box .sub-nav a:nth-child(2) {
  border-right: 1px solid #CCCCCC ;
}
.box .sub-box {
  width: 100%;
}
.box .sub-box .price {
  width: 100%;
  background-color: #fff;
}
.box .sub-box .price ul {
  padding: 0.5rem;
  border-bottom: 1px solid #CCCCCC;
}
.box .sub-box .price ul li {
  width: 100%;
  text-align: left;
}
.box .sub-box .price ul li a {
  display: inline-block;
  height: 1rem;
  width: 100%;
}
.box .sub-box .price ul li a span {
  vertical-align: middle;
  height: 1rem;
}
.box .sub-box .price ul li a span::before {
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background: url(../img/slogo.png) no-repeat;
  vertical-align: middle;
  font-size: 0;
}
.box .sub-box .price .tips {
  padding: 0.5rem;
  font-size: 0.5rem;
  text-align: left;
  background-color: #fff;
}
.box .sub-box .price .tips p {
  line-height: 0.8rem;
}
.box .sub-box .key {
  text-align: left;
  background-color: #fff;
  font-size: 0.5rem;
  line-height: 1rem;
  padding: 0.5rem;
}
.box .sub-box .comment {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #CCCCCC;
}
.box .sub-box .comment h4 {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.5rem;
}
.box .sub-box .comment h4 i {
  float: right;
}
.box .sub-box .comment p {
  font-size: 0.6rem;
  line-height: 1rem;
}
.box .sub-box .comment p:nth-child(1) {
  text-align: right;
}
