


.nameplate{
    .wrap{
        .item{
            h2 {
               font-size: 14/20rem; 
               border: 1px solid #EEEEEE;
               i.icon{
                  
                   font-size: 20/20rem;
                   &::before{
                       float: right;
                   }
               }
            }
        }
    }
}


//列表页样式
.nameplate{
    background-color: #fff;
    .wrap{
       .item{
            h2{
             
               border: none;
               border-bottom: 1px solid #CCCCCC; 
               padding-left: 10/20rem;
               color: #101010;
               i{
                  
               }
            }
            .item-box{
                ul{
                    div{
                         border-bottom: 1px dotted #CCCCCC;
                        a{
                           display: block;
                           padding: 10/20rem;
                          
                            span{
                                font-size: 16/20rem;
                            }
                            i{
                                font-size: 14/20rem;
                            }
                        }
                    }
                }
                
            }
           
        }
    }
}

/*销量排行榜央视*/
 #name-box2{
    .item-box{
        padding: 10/20rem;
        .item-left{
            padding-right: 10/20rem;
        }
        .item-right{
            overflow: hidden;
            font-size: 12/20rem;
        }
    }
}

#name-box3{
    padding: 10/20rem;
    .wrap{
        margin-bottom: 10/20rem;
        .com-left{
            padding-right: 10/20rem;
           img{
               width: 90/20rem;
           }
        }
        .com-right{
            overflow: hidden;
            p{
              font-size: 12/20rem;    
            }
        }
        
    }
    .com-content{
        margin-bottom: 10/20rem;
        p{
          font-size: 12/20rem;  
        }
    }
}


#name-box{
    .item{
        .item-box{
           background-color: #F5F5F5;
            ul{
                li{
                    a{
                        
                    }
                }
            }
        }
    }
}
