.nameplate .wrap .item h2 {
  font-size: 0.7rem;
  border: 1px solid #EEEEEE;
}
.nameplate .wrap .item h2 i.icon {
  font-size: 1rem;
}
.nameplate .wrap .item h2 i.icon::before {
  float: right;
}
.nameplate {
  background-color: #fff;
}
.nameplate .wrap .item h2 {
  border: none;
  border-bottom: 1px solid #CCCCCC;
  padding-left: 0.5rem;
  color: #101010;
}
.nameplate .wrap .item .item-box ul div {
  border-bottom: 1px dotted #CCCCCC;
}
.nameplate .wrap .item .item-box ul div a {
  display: block;
  padding: 0.5rem;
}
.nameplate .wrap .item .item-box ul div a span {
  font-size: 0.8rem;
}
.nameplate .wrap .item .item-box ul div a i {
  font-size: 0.7rem;
}
/*销量排行榜央视*/
#name-box2 .item-box {
  padding: 0.5rem;
}
#name-box2 .item-box .item-left {
  padding-right: 0.5rem;
}
#name-box2 .item-box .item-right {
  overflow: hidden;
  font-size: 0.6rem;
}
#name-box3 {
  padding: 0.5rem;
}
#name-box3 .wrap {
  margin-bottom: 0.5rem;
}
#name-box3 .wrap .com-left {
  padding-right: 0.5rem;
}
#name-box3 .wrap .com-left img {
  width: 4.5rem;
}
#name-box3 .wrap .com-right {
  overflow: hidden;
}
#name-box3 .wrap .com-right p {
  font-size: 0.6rem;
}
#name-box3 .com-content {
  margin-bottom: 0.5rem;
}
#name-box3 .com-content p {
  font-size: 0.6rem;
}
#name-box .item .item-box {
  background-color: #F5F5F5;
}
