.sum.sub-nav {
  height: 1.85rem;
  line-height: 1.85rem;
  text-align: center;
}
.sum.sub-nav .box {
  display: flex;
}
.sum.sub-nav .box ul {
  flex: 1;
}
.sum .wrap .lists ul li a p:nth-of-type(2) {
  padding-top: 0.5rem;
}
.sum .wrap .lists ul li a p:nth-of-type(2) span {
  background-color: #0096FF;
  float: right;
  padding: 0.15rem;
  color: white;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 5px;
}
